@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap');
/* width */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar {
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 50%;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 75%);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 50%);
}

.sidebar {
  scrollbar-gutter: stable;
}

.watchpage {
  display: grid;
  grid-template-columns: 7fr 3fr;
}
